DashGen/DashGen/Service References/GenpaDashboardService/CmsData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CmsData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.93.93/CmsData/CmsData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.93.93/CmsData/CmsData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.93.93/CmsData/CmsData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmpCMSGetData" />
      <xsd:import schemaLocation="http://192.168.93.93/CmsData/CmsData.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmpCMSGetData.CmsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICmsData_GetRealTimeReportType1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRealTimeReportType1" />
  </wsdl:message>
  <wsdl:message name="ICmsData_GetRealTimeReportType1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRealTimeReportType1Response" />
  </wsdl:message>
  <wsdl:message name="ICmsData_GetRealTimeReportType2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRealTimeReportType2" />
  </wsdl:message>
  <wsdl:message name="ICmsData_GetRealTimeReportType2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRealTimeReportType2Response" />
  </wsdl:message>
  <wsdl:message name="ICmsData_GetRealTimeReportType3_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRealTimeReportType3" />
  </wsdl:message>
  <wsdl:message name="ICmsData_GetRealTimeReportType3_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRealTimeReportType3Response" />
  </wsdl:message>
  <wsdl:message name="ICmsData_GetHistoricalReportType1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoricalReportType1" />
  </wsdl:message>
  <wsdl:message name="ICmsData_GetHistoricalReportType1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoricalReportType1Response" />
  </wsdl:message>
  <wsdl:portType name="ICmsData">
    <wsdl:operation name="GetRealTimeReportType1">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsData/GetRealTimeReportType1" message="tns:ICmsData_GetRealTimeReportType1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsData/GetRealTimeReportType1Response" message="tns:ICmsData_GetRealTimeReportType1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRealTimeReportType2">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsData/GetRealTimeReportType2" message="tns:ICmsData_GetRealTimeReportType2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsData/GetRealTimeReportType2Response" message="tns:ICmsData_GetRealTimeReportType2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRealTimeReportType3">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsData/GetRealTimeReportType3" message="tns:ICmsData_GetRealTimeReportType3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsData/GetRealTimeReportType3Response" message="tns:ICmsData_GetRealTimeReportType3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalReportType1">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsData/GetHistoricalReportType1" message="tns:ICmsData_GetHistoricalReportType1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsData/GetHistoricalReportType1Response" message="tns:ICmsData_GetHistoricalReportType1_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICmsData" type="tns:ICmsData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRealTimeReportType1">
      <soap:operation soapAction="http://tempuri.org/ICmsData/GetRealTimeReportType1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRealTimeReportType2">
      <soap:operation soapAction="http://tempuri.org/ICmsData/GetRealTimeReportType2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRealTimeReportType3">
      <soap:operation soapAction="http://tempuri.org/ICmsData/GetRealTimeReportType3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalReportType1">
      <soap:operation soapAction="http://tempuri.org/ICmsData/GetHistoricalReportType1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CmsData">
    <wsdl:port name="BasicHttpBinding_ICmsData" binding="tns:BasicHttpBinding_ICmsData">
      <soap:address location="http://192.168.93.93/CmsData/CmsData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>