DashGen/DashGen/Service References/GenpaDashboardService/CmsData2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmpCMSGetData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmpCMSGetData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CmsParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcdNo" type="xs:int" />
      <xs:element minOccurs="0" name="SkillNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CmsParameters" nillable="true" type="tns:CmsParameters" />
</xs:schema>